h1{
    font-size: 30px;
    color: blue;
    margin: 0 auto;
    width: fit-content;
}

.block {
    background-color: aqua;
    height: 250px;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.text {
    color: white;
    background-color: rgb(32, 118, 20);
    font-size: 26px;
    width: 300px;
    margin: 10px auto;
    padding: 50px;
    border-radius: 40%;
}